.tweets {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	margin-top: 30px;
}

@media (min-width: 600px) {
	.tweets {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: baseline;
	}
} 

.tweet-container {
	background-color: #5DADE2;
	border-radius: 25px;
	max-width: 250px;
    padding: 15px;
}

.tweet-text {
	padding: 5px;
}

.tweet-metrics {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.tweet-metrics > div {
	display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 100px;
    padding: 10px;
    width: 30px;
    height: 30px;
}

.tweet-metrics > div > svg {
	width: 15px;
}